* {
  /* font-family: ComicCode Nerd Font Mono; */
  /* font-family: Cantarell Nerd Font; */
  font-family: Montserrat;
  font-size: 9pt;
  min-height: 0;
  /* padding-left: 2px; */
  /* padding-right: 2px; */
}

#waybar {
  background: transparent;
  /* background: #222; */
  /* color: #c6d0f5; */
}

#workspaces {
  /* margin-right: 0.25rem; */
  margin: 0.5em;
}

#workspaces button {
  /* background: #404040; */
  color: #babbf1;
  padding: 0.3em;
  font-weight: bold;
  /* border-radius: 20px; */
  /* margin: 5px; */
}

#workspaces button.active {
  background: #404040;
  color: white;
}

#workspaces button:hover {
  background: #404040;
}

#window {
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 3px 0;
  background-color: #404040;
  color: white;
  font-weight: bold;
}

#backlight,
#battery,
#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#temperature,
#tray,
#custom-lock,
#custom-music,
#custom-power {
  /* background: #101010; */
  padding: 0 2px;
}

#memory {}

#clock {
  /* border-radius: 20px; */
  /* padding: 0 1.15em; */
  margin-right: 1.15em;
  /* margin: 8px 0; */
  /* background-color: #404040; */
  color: white;
  font-weight: bold;
  font-size: 14px;
}

#battery {
  color: #a6d189;
}

#battery.charging {
  color: #a6d189;
}

#battery.warning:not(.charging) {
  color: #e78284;
}

#backlight {
  color: #e5c890;
}

#backlight,
#battery {}

#pulseaudio {
  /* border-radius: 20px; */
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  /* margin: 8px 0; */
  /* background-color: #404040; */
  color: white;
  font-weight: bold;
}

#tray {
  /* border-radius: 20px; */
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  /* margin: 8px 0; */
  /* background-color: #404040; */
  color: white;
  font-weight: bold;
}
